*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

main{
    margin: 10rem 0rem 0rem 0rem;
}

h1, p{
    text-align: center;
}

h1{
    color: #cccccc;
}

p{
    color: green;
    font-size: 4rem;
    font-weight: 500;
}

aside{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}